body{
    /*font-family: 'Orbitron', sans-serif;*/
    font-family: 'Arial', sans-serif;
}
div.clock {
    font-family: 'Bungee Shade', cursive;
    font-size: 15vw;
    display: flex;
    flex-flow :row;
    justify-content: center;
    cursor: pointer;
    color: orange;
}

input{
    font-size: 2vw;
    width: 100%;
}

.centered {
    text-align:center;
}

div.item {
     flex: 1;
}

ol.rounds{
    margin-top: 0px;
    margin-bottom: 0px;
}

div.next,div.prev,.clearAllData{
    cursor: pointer;
    font-size: : 20vw;
}
div.next:hover,div.prev:hover,.clearAllData:hover{
    color: orange;
}



table.rounds tr:hover {
    color: orange;
    cursor: pointer;
}

ol.rounds li.current {
    font-size: 2vw;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
}

div.details{
    font-size: 4vw;
}
div.label{
    font-size: 2vw;
    background-color: lightgray;
}

div.controls {
    font-size: 4vw;
}

.clock .time {
  animation-duration: 1s;
  /*animation-delay: 2s;*/
  animation-iteration-count: 1;

}
table.rounds {
    width:100%;

}

table.rounds td {
    font-size: 10vw;
}

table.rounds th {
    font-size: 5vw;
}

td.index{
    cursor: pointer;
}

tr.selected {
    color: orange;
}

div.row.blinds {
    font-size: 4vw;
}

select.structure {
    width : 100%;
}
